$blue-color:#0072fa;
$white-smoke:#f6f6f6;
$light-gray:#d1d1d1;
$dark-gray: #4a4a4a;
$gradient-cove:#020d3d;
$gradient-blue:#0b2f73;
$gradient-java: #278993;
$main-font:22px;
$small-font:14px;
$font-family:'Source Code Pro', monospace;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:$font-family ;
}

.container{
    background-color: $white-smoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    .card-bottom{
        width: 450px;
        height: 350px;
        background-color: $white-smoke;
        box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
        form{
           padding: 100px 15px 15px ;
           display: flex;
           flex-direction: column;
           color: gray;
           font-size: 12px;
           .date-label{
            display: flex;
           justify-content:space-between;
           
           }
           .cvv{
            margin-right: 140px;
           }
           input{
            margin-bottom: 25px;
            margin-top: 5px;
            border-radius: 5px;
            height: 25px;
            border:1px solid $light-gray;
           }
           .date{
            display: flex;
           
            select{
                flex: 1;
                margin: 5px;
                height: 25px;
            }
           }

           .btn-submit{
            height: 30px;
            border-radius: 5px;
            color:$blue-color;
            background-color: white;
            border: 1px solid $blue-color;
            &:hover{
                background-color:$blue-color ;
                color: white;
            }
           }
        }
 }

    .card-top{
            width: 250px;
            height: 160px;
            background-image: linear-gradient(to  top, #0b2f73, #004884,  #004884,  #004884,  #278993);
            border-radius: 15px;
            position: relative;
            top:80px;

        
            .logo-left{
                width: 15%;
                position: relative;
                left: 10px;
                top: 10px;
            }

            .logo-right{
                width: 20%;
                position: relative;
                left: 140px;
                top: 10px;
            }
            div{
                color: white;
                font-size: 18px;
                font-style: normal;
                margin-top:40px;
                margin-left: 15px;
                 word-spacing: 0.4rem;
            }

            .user{
                display: flex;
                justify-content: space-between;
                list-style: none;
                font-size: 10px;
                color: $light-gray;
                word-spacing: 0.2rem;
                margin: 0 .5rem;
                margin-top: 1rem;
            }

            .user-info{
                display: flex;
                justify-content: space-between;
                list-style: none;
                font-size: 16px;
                color: white;
                word-spacing: 0.2rem;
                margin: 0 .5rem;
                text-transform: uppercase;
            }
    }
}


